################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.suo
*.sdf
*.idb
*.pdb
*.vshost.exe
*.cache
*.vshost.exe.*
*.exe.config
*.csproj.FileListAbsolute.*
TemporaryGeneratedFile*.*


CodecLibs/MAC_SDK_412/Source/Projects/VS2012/MACLib/Debug/
CodecLibs/MAC_SDK_412/Source/Projects/VS2012/MACLib/Release/
MuServer/CodecTester/obj/
MuServer/Debug/
MuServer/Release/
MuServer/MuseCodecs/Debug/
MuServer/MuseCodecs/Release/
MuServer/bin/
*.VC.db