// Microsoft Visual C++ generated resource script.
//
#include "resource.h"
#include <windows.h>

/////////////////////////////////////////////////////////////////////////////
// English (U.S.) resources

#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_ENU)
#ifdef _WIN32
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
#pragma code_page(1252)
#endif //_WIN32

/////////////////////////////////////////////////////////////////////////////
//
// Version
//

VS_VERSION_INFO VERSIONINFO
 FILEVERSION 4,11,0,0
 PRODUCTVERSION 4,11,0,0
 FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x40004L
 FILETYPE 0x1L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904b0"
        BEGIN
            VALUE "Comments", "Console front-end for Monkey's Audio"
            VALUE "CompanyName", "Matthew T. Ashland"
            VALUE "FileDescription", "Monkey's Audio Console Front-End"
            VALUE "FileVersion", "4.11"
            VALUE "InternalName", "MAC"
            VALUE "LegalCopyright", "Copyright © 2000-2013"
            VALUE "OriginalFilename", "MAC.exe"
            VALUE "ProductName", "Monkey's Audio"
            VALUE "ProductVersion", "4.11"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200
    END
END

#endif    // English (U.S.) resources
/////////////////////////////////////////////////////////////////////////////

